@CHARSET "UTF-8";

/* Theme the button */
span.autocomplete-deluxe-button {
  display: block;
  float: left;
  height: 1.75em;
  overflow: hidden;
  outline: none;
}

.form-autocomplete {
  float: left;
}

ul.ui-autocomplete {
  overflow: scroll;
  max-height: 250px;
}