.ui-button {
  border: 1px solid #ccc;
  background: #e6e6e6;
}
.ui-button.ui-state-active {
  border: 1px solid #777;
  font-weight: bold;
}

.ui-state-hover,
.ui-state-focus {
  border: 1px solid #bbb;
}

.ui-corner-tl {
  border-top-left-radius: 4px;
}

.ui-corner-tr {
  border-top-right-radius: 4px;
}

.ui-corner-bl {
  border-bottom-left-radius: 4px;
}

.ui-corner-br {
  border-bottom-right-radius: 4px;
}

.ui-corner-top {
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}

.ui-corner-bottom {
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}

.ui-corner-right {
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}

.ui-corner-left {
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}

.ui-corner-all {
  border-radius: 4px;
}
